<a href="https://colab.research.google.com/github/nayakoralalage/ISYS5002_porfolio/blob/main/Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exception 

* try
* except
* finaly

# Usefull 

* file i/o
* web scraping
* databases

In [1]:
try:
  num1 = int(input("Please input a number "))
  num2 = int(input("Please input another number"))
  print("Numl divided by Num2 is " + str(num1/num2))
except TypeError as e:
  print(e)
except ValueError as e:
  print("Please only type in digits, not letters")
  print(e)
except ZeroDividionEror:
  print("The second number cannot be zero ")

Please input a number 11
Please input another number1
Numl divided by Num2 is 11.0

In [2]:
try:
  num1 = int(input("Please input a number "))
  num2 = int(input("Please input another number"))
  print("Numl divided by Num2 is " + str(num1/num2))
except Exception as e:
  print(e)

Please input a number 11
Please input another number0
division by zero

In [5]:
# There is an error on the following line, need to do some research to work out how to fix
# num1 = int(input("Please input a number "))
num1 = 10
num2 = int(input("please input another number "))
print("Num1 divide by Num2 is " + str(num1/num2))

please input another number 2
Num1 divide by Num2 is 5.0

# Web Scraping Tables

* 0. Install any packages need

* 1. Import libraries

* 2. Setup the URL

* 3. Get the webpage

* 4. Extract to HTML

Important Libraries
* urllib, urllib2, urllib3(powerful, complex)
* request(easier and use urllib underneath
* selenium(slow....)

In [15]:
# install requirements
!pip install kora -q

#load packages
from bs4 import BeautifulSoup
from kora.selenium import wd

In [16]:
# setup the URL
URL = "https://www.abs.gov.au/statistics/economy/key-indicators"

# Get the page
wd.get(URL)

# Basic HTML Structure 

    <!DOCTYPE html>
    <html>
    <body>

    <h1>My First Heading</h1>
    <p>My first paragraph.</p>

    </body>
    </html>

## Basic Table Structure 

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

In [17]:
soup = BeautifulSoup(wd.page_source, "html.parser")

tables = soup.find_all('table')
len(tables)

8

In [18]:
tables[0]

<table class="views-table views-view-table cols-6"><caption><h2 id="national-accounts">National Accounts<a aria-hidden="" class="anchor-link" href="#national-accounts"></a></h2></caption><thead><tr><th class="views-field views-field-field-indicator" id="view-field-indicator-table-column" scope="col">Indicator</th><th class="views-field views-field-field-kei-period" id="view-field-kei-period-table-column" scope="col">Period</th><th class="views-field views-field-field-kei-unit" id="view-field-kei-unit-table-column" scope="col">Unit</th><th class="views-align-right views-field views-field-field-kei-value views-align-right" id="view-field-kei-value-table-column" scope="col">Value</th><th class="views-align-right views-field views-field-field-kei-change-previous-period views-align-right" id="view-field-kei-change-previous-period-table-column" scope="col">Change previous period</th><th class="views-align-right views-field views-field-field-kei-change-period-last-ye views-align-right" id="view-field-kei-change-period-last-ye-table-column" scope="col">Change same period last year</th></tr></thead><tbody><tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column"><a href="/statistics/economy/national-accounts/australian-national-accounts-national-income-expenditure-and-product/jun-2021">Gross domestic product GDP, Chain volume measures - seasonally adjusted</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column">Jun Qtr 2021</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column">505,134</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column">0.7%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column">9.6%</td></tr><tr><td class="views-field views-field-field-indicator" headers="view-field-indicator-table-column"><a href="/statistics/economy/national-accounts/australian-national-accounts-national-income-expenditure-and-product/jun-2021">Gross domestic product GDP, Chain volume measures - annual (a)</a></td><td class="views-field views-field-field-kei-period" headers="view-field-kei-period-table-column">2020-21</td><td class="views-field views-field-field-kei-unit" headers="view-field-kei-unit-table-column">$m</td><td class="views-field views-field-field-kei-value views-align-right" headers="view-field-kei-value-table-column">1,975,866</td><td class="views-field views-field-field-kei-change-previous-period views-align-right" headers="view-field-kei-change-previous-period-table-column">1.4%</td><td class="views-field views-field-field-kei-change-period-last-ye views-align-right" headers="view-field-kei-change-period-last-ye-table-column">na</td></tr></tbody></table>

In [19]:
tbody = tables[0].find('tbody')

In [20]:
rows = tbody.find_all('tr')

In [21]:
columns = rows[0].find_all('td')

In [28]:
columns[0].text

'Gross domestic product GDP, Chain volume measures - seasonally adjusted'

In [26]:
tables = soup.find_all('table')
for table in tables:
  body = table.find('tbody')
  rows = body.find_all('tr')
  for row in rows:
    data = row.find_all('td')
    for text in data:
      print(text.text)
    print()

Gross domestic product GDP, Chain volume measures - seasonally adjusted
Jun Qtr 2021
$m
505,134
0.7%
9.6%

Gross domestic product GDP, Chain volume measures - annual (a)
2020-21
$m
1,975,866
1.4%
na

Balance on Goods and Services - seasonally adjusted
August 20121
$m
15,077
-
-

Total Goods and Services Credits - seasonally adjusted
August 2021
$m
48,524
4.1%
-3.7%

Total Goods and Services Debits - seasonally adjusted
August 2021
$m
33,466
-1.5%
1.5%

Balance on Current Account - seasonally adjusted
June 2021
$m
20,461
na
na

Net International Investment Position (IIP) - original
June 2021
$m
885,123
-3.26%
na

Net Foreign Debt - original
June 2021
$m
1,186,356
1.94%
na

Retail turnover at current prices - seasonally adjusted
August 2021
$m
29275.5
-1.7
-0.7

Actual New Capital Expenditure in volume terms - seasonally adjusted
Jun Qtr 2021
$m
32,675 million
4.4%
11.5%

Inventories held by Private Businesses, in volume terms - seasonally adjusted
Jun qtr 2021
$m
168,529
0.2%
2.4%

Total new motor vehicle sales
Dec 2017
no.
99,756
0.2%
2.8%

Income from sales of goods and services by Manufacturers in volume terms - seasonally adjusted
Jun qtr 2021
$m
89,266
-0.2%
8.1%

Dwelling unit approvals - seasonally adjusted
August 2021
no.
18,716
6.8%
31.2%

Building approvals - seasonally adjusted
August 2021
$m
13,025.2
20.3%
29.3%

Total dwelling units commenced - seasonally adjusted
Mar 2021
no.
51,662
0.2
13.1

Building work done - chain volume measures - seasonally adjusted
Jun 2021
$m
30,563.5
0.1%
2.8%

Engineering construction work done - chain volume measures - seasonally adjusted
Jun 2021
$m
22,312
1.8%
-2.7%

Consumer price index (2011-12 = 100.0) - original
Jun 2021 Qtr
Index no.
118.8
0.8%
3.8%

Producer Price Indexes, Final Demand (2011-12 = 100.0) - original
June 2021 Qtr
Index no.
113.6
0.7
2.2

Import price index (2011-12 = 100.0) - original
Jun Qtr 2021
Index no.
108.1
1.9%
-2.5%

Export price index (2011-12 = 100.0) - original
Jun Qtr 2021
Index no.
137.3
13.2%
26.0%

Wage Price Index (2008-2009 = 100.0) - original
Jun Qtr 2021
Index no.
136.5
0.3%
1.8%

Employed persons - seasonally adjusted
August 2021
'000
13,022.6
-146.3
396.1

Participation rate - seasonally adjusted
August 2021
%
65.2
-0.8 pts
0.2 pts

Unemployment rate - seasonally adjusted
August 2021
%
4.5
-0.1 pts
-2.2 pts

Employment to Population ratio - seasonally adjusted
August 2021
%
62.2
-0.7 pts
1.7 pts

Job Vacancies - seasonally adjusted
Aug 2021
'000
333.7
-9.8%
61.8%

Estimated resident population - (preliminary)
Mar qtr 2021
'000
25,704.3
0.1
0.1

Short-term overseas visitor arrivals (b)
July 2021
'000
na
na
na

Company gross operating profits (in current price terms) - seasonally adjusted
Jun qtr 2021
$m
118,299
7.1%
5.5%

Average weekly ordinary time earnings, full-time adults
May 2021
$
1737.10
np
1.4%

New housing loan commitments - seasonally adjusted
August 2021
$b
30.76
-4.3%
47.4%

New housing loan commitments to Owner Occupiers - seasonally adjusted
August 2021
$b
21.26
-6.6%
33.5%

New housing loan commitments to Investors - seasonally adjusted
August 2021
$b
9.49
1.5%
92.2%

New personal loan commitments for fixed term loans - seasonally adjusted
August 2021
$b
1.93
-2.5%
38.9%

New business loan commitments for construction - seasonally adjusted
August 2021
$b
2.18
-26.4%
77.3%

New business loan commitments for the purchase of property - seasonally adjusted
August 2021
$b
6.79
-10.0%
97.7%

In [31]:
tables = soup.find_all('table')
#for table in tables:
body = tables[0].find('tbody')
rows = body.find_all('tr')
for row in rows:
    data = row.find_all('td')
    for text in data:
      print(text.text)
    print()

Gross domestic product GDP, Chain volume measures - seasonally adjusted
Jun Qtr 2021
$m
505,134
0.7%
9.6%

Gross domestic product GDP, Chain volume measures - annual (a)
2020-21
$m
1,975,866
1.4%
na

In [32]:
# install requirements
!pip install kora -q

# load packages 
from kora.selenium import wd
import pandas as pd

# setup the URL
URL = 'https://www.abs.gov.au/statistics/economy/key-indicators'

# Get the page
wd.get(URL)

tables_as_df = pd.read_html(wd.page_source)
len(tables_as_df)

8

In [7]:
tables_as_df[0]

                                           Indicator  ... Change same period last year
0  Gross domestic product GDP, Chain volume measu...  ...                         9.6%
1  Gross domestic product GDP, Chain volume measu...  ...                           na

[2 rows x 6 columns]

In [33]:
tables_as_df[1]

                                           Indicator  ... Change same period last year
0  Balance on Goods and Services - seasonally adj...  ...                            -
1  Total Goods and Services Credits - seasonally ...  ...                        -3.7%
2  Total Goods and Services Debits - seasonally a...  ...                         1.5%
3   Balance on Current Account - seasonally adjusted  ...                           na
4  Net International Investment Position (IIP) - ...  ...                           na
5                        Net Foreign Debt - original  ...                           na

[6 rows x 6 columns]

In [9]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']